POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=YOUR_DATABASE_NAME
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db:5432/tasks

SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_KEY=your-supabase-key
PORT=3000